<a href="https://colab.research.google.com/github/maheshkumar30/Intellipaat-DataScience/blob/main/Intellipaat_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="Mahesh"
print(a)

Mahesh

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x=10
x

10

In [ ]:
x=10
y="Mahesh"
z=True

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'bool'>

# List

In [ ]:
l1=[1,2,3,4]
print(l1)
print(l1[3])
print(l1[1:])
print(l1[::-1])

[1, 2, 3, 4]
4
[2, 3, 4]
[4, 3, 2, 1]

In [ ]:
l1=["a","b","c","d","e"]
l1.append("mahesh")
print(l1)
l1.insert(3,"mahesh")
print(l1)
l1.remove("mahesh")
print(l1)

['a', 'b', 'c', 'd', 'e', 'mahesh']
['a', 'b', 'c', 'mahesh', 'd', 'e', 'mahesh']
['a', 'b', 'c', 'd', 'e', 'mahesh']

In [ ]:
print(len(l1))
print(l1.count("mahesh"))
print(l1.index("mahesh"))

6
1
5

# Tuple

In [ ]:
t1=(1,2,3,4,5,6)
t1.count(2)
t1.index(3)

2

# String

In [ ]:
a="Mahesh Kumar"
print(a)

Mahesh Kumar

In [ ]:
print(len(a))

12

In [ ]:
First_name=a[:6]
Second_name=a[7:]
print(First_name)
print(Second_name)

Mahesh
Kumar

In [ ]:
x="This Is THE class for python"
y=x.lower()
print(y)
z=x.capitalize()
print(z)
a=x.title()
print(a)
b=x.isupper()
print(b)
c=y.islower()
print(c)

this is the class for python
This is the class for python
This Is The Class For Python
False
True

In [ ]:
x="       m                 "
print(x.strip())

m

# Sets

In [ ]:
x={1,2,3,4,6,7}
len(x)

6

In [ ]:
x.add(10)

In [ ]:
print(x)

{1, 2, 3, 4, 6, 7, 10}

In [ ]:
z=x.pop()
print(z)

2

In [ ]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 6}
{3, 4}

In [ ]:
print(s1 | s2)
print(s1 & s2)
print(s1 ^ s2)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 5, 6}

# Dictionary

In [ ]:
d={"Name" : "Mahesh",
   "Age": 22,
   "Branch": "CSE(AI)"}
print(d)

{'Name': 'Mahesh', 'Age': 22, 'Branch': 'CSE(AI)'}

In [ ]:
d["Place"]="Yemmiganur"
print(d)

{'Name': 'Mahesh', 'Age': 22, 'Branch': 'CSE(AI)', 'Place': 'Yemmiganur'}

In [ ]:
d.keys()

dict_keys(['Name', 'Age', 'Branch', 'Place'])

In [ ]:
d.values()

dict_values(['Mahesh', 22, 'CSE(AI)', 'Yemmiganur'])

In [ ]:
d.items()

dict_items([('Name', 'Mahesh'), ('Age', 22), ('Branch', 'CSE(AI)'), ('Place', 'Yemmiganur')])

# Conditional Statements
1. if
2. if else
3. if elif else
4. nested if

In [ ]:
age=int(input("Enter your age:"))
if age >= 18:
    print("Your are eligible to vote")
else:
    print("you are not eligible to vote")

Enter your age: 22

Your are eligible to vote

In [ ]:
marks=int(input())
att=int(input())
if att>=90:
    if marks >=90:
        print("Exellent")
    elif marks >= 70:
        print("Good")
    elif marks >=50:
        print("Try to get more marks")
    elif marks<50:
        print("Fail")
else:
    print("Attendence Low")

 72
 93

Good

# Looping Statements
1. for
2. while
3. nested for

In [ ]:
for i in range(1,1000,50):
    print(i)

1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951

In [ ]:
l1=["Mahesh","Kumar","Aryan","Raj"]
l2=[35,22,10,12]
for i,j in zip(l1,l2):
    print(i,j)

Mahesh 35
Kumar 22
Aryan 10
Raj 12

In [ ]:
l1=["Mahesh","Kumar","Aryan","Raj"]
l2=[35,22,10,12]
for i,j in enumerate(l1):
    print(i,j)

0 Mahesh
1 Kumar
2 Aryan
3 Raj

In [ ]:
d

{'Name': 'Mahesh', 'Age': 22, 'Branch': 'CSE(AI)', 'Place': 'Yemmiganur'}

In [ ]:
for i,j in d.items():
    print(i,"is mapped with",j )

Name is mapped with Mahesh
Age is mapped with 22
Branch is mapped with CSE(AI)
Place is mapped with Yemmiganur

In [ ]:
i=1
while i<=10:

    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
print(i)

11

In [ ]:
for i in range(2,7):
    for j in range(1,11):
        print(f'{i} and {j}')
    print("Next Iteration")

2 and 1
2 and 2
2 and 3
2 and 4
2 and 5
2 and 6
2 and 7
2 and 8
2 and 9
2 and 10
Next Iteration
3 and 1
3 and 2
3 and 3
3 and 4
3 and 5
3 and 6
3 and 7
3 and 8
3 and 9
3 and 10
Next Iteration
4 and 1
4 and 2
4 and 3
4 and 4
4 and 5
4 and 6
4 and 7
4 and 8
4 and 9
4 and 10
Next Iteration
5 and 1
5 and 2
5 and 3
5 and 4
5 and 5
5 and 6
5 and 7
5 and 8
5 and 9
5 and 10
Next Iteration
6 and 1
6 and 2
6 and 3
6 and 4
6 and 5
6 and 6
6 and 7
6 and 8
6 and 9
6 and 10
Next Iteration

# Control Flow Statements
1. break
2. continue
3. pass

In [ ]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11):
    if i==5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

# Functions

In [ ]:
def mul(x,y): #parametrized function
    print(x*y)
mul(22,35)

770

In [ ]:
def display():
    print("Hello World")
display()

Hello World

In [ ]:
def mul(y,x=10):
    print(x/y)
mul(5)

2.0

## *args

In [ ]:
def num(*args):
    print(sum(args))
    print(type(args))

num(1, 2, 2, 3)

8
<class 'tuple'>

## ** kwargs

In [ ]:
def d(**kwargs):
    print(kwargs)
d(name="Mahesh",age=10)

{'name': 'Mahesh', 'age': 10}

## Lambda function

In [ ]:
x=lambda x=10:print(f'hello {x}')
x()

hello 10

In [ ]:
def add(x,y):
    print(x+y)
add(10,30)

40

In [ ]:
result=add(10,20)

30

# Python Practice

## 1.Palindrome

In [ ]:
def add(x,y):
    return f"addition of two numbers  {x+y}"
def sub(x,y):
    return f"subtraction of two numbers  {x-y}"
def mul(x,y):
    return f"Multiplication of two numbers  {x*y}"
def div(x,y):
    return f"Divsion of two numbers  {x/y}"
a=add(10,20)
print(a)
b=sub(10,20)
print(b)
c=mul(22,22)
print(c)
d=div(22,11)
print(d)

addition of two numbers  30
subtraction of two numbers  -10
Multiplication of two numbers  484
Divsion of two numbers  2.0

In [ ]:
def add(x,y):
    return f"addition of two numbers  {x+y}"
def sub(x,y):
    return f"subtraction of two numbers  {x-y}"
def mul(x,y):
    return f"Multiplication of two numbers  {x*y}"
def div(x,y):
    return f"Divsion of two numbers  {x/y}"
x=int(input("Enter the number:"))
y=int(input("Enter the number:"))
opp=input("Enter the opertation from the given choice(+,-,*,/)")
if opp == '+':
    print("Addition",x+y)
elif opp == "-":
    print("Subtraction",x-y)
elif opp == "*":
    print("Multiplication",x*y)
else:
    print("Division",x/y)

Enter the number: 10
Enter the number: 10
Enter the opertation from the given choice(+,-,*,/) /

Division 1.0

In [ ]:
list1=input()
if list1[::] == list1[::-1]:
    print("Palindrome",list1)
else:
    print("Not Palindrome")
# print(list1)
# print(list1[::-1])

 1111

Palindrome 1111

In [ ]:
li=[1,1,2,2,3,4]
a=list(set(li))
print(a)

[1, 2, 3, 4]

In [ ]:
def dup(x):
    a=list(set(x))
    print(a)
dup("1")

['1']

## Armstrong Number
1. Count the numbers
2. Uni digits
3. if we put "(1**digit)==(1**3)" and same for all units
4. "digit**3"=number
5. sum of these = actual value ==> armstrong
* step 1 ==> count the numbers
* step 2 ==>we have to split the unidigit number
* step 3 ==> now i want each time one digit from

In [ ]:
n=int(input())
a=len(str(n))
s=sum(int(digit)**a for digit in str(n))
if n == s:
    print("Armstrong number")
else:
    print("Invalid")

 153

Armstrong number

In [ ]:
1+125+27

153

In [ ]:
n=int(input())
length=0
for i in f"{n}":length+=1
temp=n
s=0
while temp!=0:
    digit=temp%10
    s+=((digit)**(length))
    temp=temp//10
if n == s:
    print("Armstrong")
else:
    print("Not Armstrong")

 232

Not Armstrong

## Fibnocci series
1. n1=0
2. n2=1
3. n3=n1+n2
4. f(n)=f(n-1)+f(n-2)

In [ ]:
n=int(input())
a,b=0,1
print("fib series")
for i in range(n):
    a,b=b,a+b
    print(a)

 3

fib series
1
1
2

## Anagrams

In [ ]:
a=input()
b=input()
sor1=sorted(a)
sor2=sorted(b)
if sor1 == sor2:
    print("Anagrams")
else:
    print("Not Anagrams")

 listen
 silent

Anagrams

In [ ]:
a="mahesh"
print(sorted(a))

['a', 'e', 'h', 'h', 'm', 's']

## Vowels

In [ ]:
str1=input()
vo="a,e,i,o,u"
count=0
for i in str1:
    if i in vo:
        count += 1
        print(i)
print(count)

 mahesh kumar

a
e
u
a
4

In [ ]:
def Bill(**kwargs):
    print(kwargs)
Bill(name="Mahesh")

{'name': 'Mahesh'}

In [ ]:
def Bill(**kwargs):
    print(kwargs)
    total=sum(kwargs.values())
    for k,v in kwargs.items():
        print(f"{k} : {v}")
    print(f"Total bill ={total}")
Bill(maggi=80,milk=80,bread=40,Bath=100)

{'maggi': 80, 'milk': 80, 'bread': 40, 'Bath': 100}
maggi : 80
milk : 80
bread : 40
Bath : 100
Total bill =300

## Prime

In [ ]:
n=int(input())
if n>1:
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            print("not prime")
            break

    else:
        print("Prime")
else:
    print("Not Prime")

 22

not prime

## Use class to create calculator having 4 methods Addition,Subtraction,Multiplication and Division.
  ## **Constructor should be taking the num1 and num2 Values

In [ ]:
class Calculator:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def Add(self):
        print(f"Addition of {self.num1} + {self.num2} = {self.num1+self.num2}")
    def Sub(self):
        return f"Subtraction of {self.num1} - {self.num2} = {self.num1-self.num2}"
    def Mul(self):
        return f"Multiplication of {self.num1} * {self.num2} = {self.num1*self.num2}"
    def Div(self):
        return f"Addition of {self.num1} / {self.num2} = {self.num1/self.num2}"

In [ ]:
ob=Calculator(10,22)
res=ob.Add()
print(res)
ob.Sub()
ob.Mul()
ob.Div()

Addition of 10 + 22 = 32
None

'Addition of 10 / 22 = 0.45454545454545453'

In [ ]:

sub=["Physics","Chemistry","Biology","Maths","Computer"]
marks=[]
for i in (sub):
    x=int(input(f"Enter your Marks for {i}: "))
    marks.append(x)
marks

Enter your Marks for Physics:  55
Enter your Marks for Chemistry:  47
Enter your Marks for Biology:  70
Enter your Marks for Maths:  69
Enter your Marks for Computer:  99

[55, 47, 70, 69, 99]

In [ ]:
for i,j in zip(sub,marks):
    print(f"{i} : {j}")

Physics : 55
Chemistry : 47
Biology : 70
Maths : 69
Computer : 99

## we have to create a class:Walmart
* Two attribute:item,price(constructor)
* Two methods:discount(x)

In [ ]:
class Walmart:
    def __init__(self,item,price):
        self.item=item
        self.price=price
    def discount(self,discount):
        self.discount=discount
        dis=(self.price*(self.discount/100))
        price=self.price-dis
        print(f"price after discount {price}")
    def details(self):
        print(f"Discount price {self.discount}% and your final price{price}")

In [ ]:
ob=Walmart("chair",800)
ob.discount(10)

price after discount 720.0

In [ ]:
class Walmart:
    def __init__(self,item,price):
        self.item=item
        self.price=price
    def discount(self,discount):
        self.discount=self.price-(self.price*(discount/100))
        # dis=(self.price*(self.discount/100))
        # price=self.price-dis
        # print(f"price after discount {price}")
        print(self.discount)
    def details(self):
        print(f"Discount price 10% and your final price {self.discount}")

In [ ]:
ob=Walmart("Chair",800)
ob.discount(10)
ob.details()

720.0
Discount price 10% and your final price 720.0

## **Now -> Create a new class -> CollectiveDiscount**
1. Take items as a list -> Attribute
2. method -> addItems() -> It will take name of the item and price to add up in my list
3. method -> itemsDiscount() -> apply the discount on the item present in the list
4. method -> display() -> info on the items discount
## **Hint:We will use Inheritance**

In [ ]:
class CollectiveDiscount:
    def __init__(self,items,price):
        self.items=items
        self.price=price
    def addItems(self, new_items, new_price):
        self.items += new_items
        self.price += new_price
    def itemsDiscount(self,discount):
        self.discount=self.price-(self.price*(discount/100))
    def display(self):
        print(f"Items {self.items}")
        print(f"Original Price{self.price}")
        print(f"Final price {self.discount}")

In [ ]:
ob=CollectiveDiscount(10,50000)
ob.itemsDiscount(10)
ob.display()

Items 10
Original Price50000
Final price 45000.0

In [ ]:
class CD:
    def __init__(self):
        self.items=[]
        self.price=0
    def Items(self,item,price):
        self.items.append((item,price))
        self.price += price
    def Dis(self,discount):
        self.discount=self.price-(self.price*(discount/100))
    def display(self):
        print("Items purchased")
        for item,price in self.items:
            print(f"{item} : {price}")

        print(f"Original price {self.price}")
        print(f"Price after discount {self.discount}")

In [ ]:
ob=CD()
ob.Items("Laptop",51000)
ob.Items("Mouse",600)
ob.Items("Bag",1000)
ob.Dis(10)
ob.display()

Items purchased
Laptop : 51000
Mouse : 600
Bag : 1000
Original price 52600
Price after discount 47340.0