<a href="https://colab.research.google.com/github/maheshkumar30/Intellipaat-DataScience/blob/main/Copy_of_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Object oriented Programming**
* It is an approach to solve real world problem
* It mainly focuses on the term **class and object**
    * Class: A blueprint of real world object
    * Object: Objects are the entities that allow us to use the property of class
###**Pillars of Object Oriented Programming**
* Inheritance
* Polymorphism
* Abstraction
* Encapsulation

###**Steps that we follow in OOP**
* We will create the class which tells about the data members(Attibutes + Methods) Which gives us the blueprint
* Now, We will create the objects to access the data members

**Note**
* Methods are the functions that we create inside the class
* Attributes are the variables that we create inside the class

In [ ]:
list1 = [1,2,3,4,5]
print(type(list1))

<class 'list'>

In [ ]:
## Structural
x = 10
print(x)

10

In [ ]:
# Functional Prog
def functionality():
  x = 10
  print(x)

functionality()
functionality()
functionality()

10
10
10

**Keyword alert** - class

In [ ]:
class Vehicle:
  # These are my attrubutes(variable)
  door = 4
  wheels = 4

  # Methods
  def display(self):
    print(f'Hi this is the method with door: {self.door} and wheel: {self.wheels}')

**Objects**

In [ ]:
car = Vehicle()
print(car.door)
print(car.wheels)
car.display()

4
4
Hi this is the method with door: 4 and wheel: 4

In [ ]:
bike = Vehicle()
print(bike.door)
print(bike.wheels)
bike.display()

4
4
Hi this is the method with door: 4 and wheel: 4

In [ ]:
bike.wheels = 2
bike.display()

Hi this is the method with door: 4 and wheel: 2

We can create multiple objects but all of them are having same properties. If we have to change, (Manual).

We can use Constructor to assign the values to the properties of object

##**Constructor `__init__()`**
* To initialize the attributes of a class whenever we will create an object
* here, `__init__()` is method that we create inside the class

In [ ]:
class Employee:
  def __init__(self,empName,empDomain,empSalary):
    self.empName = empName
    self.empDomain = empDomain
    self.empSalary = empSalary # self.empSalary -> This is my attribute

  def display(self):
    print(f'Name: {self.empName}, Domain: {self.empDomain} and Salary: {self.empSalary}')

In [ ]:
emp1 = Employee('Aryan','MLE','12 LPA')
emp2 = Employee('Rudra','Data Scientist','30 LPA')

In [ ]:
emp1.display()

Name: Aryan, Domain: MLE and Salary: 12 LPA

In [ ]:
emp2.display()

Name: Rudra, Domain: Data Scientist and Salary: 30 LPA

###**Calculator Question**

In [ ]:
class Calculator:
  def __init__(self,num1, num2):
    self.num1 = num1
    self.num2 = num2
    print('Constructor called')

  def multiply(self):
    print(f'{self.num1} x {self.num2} = {self.num1 * self.num2}')

  def division(self):
    print(f'{self.num1} / {self.num2} = {self.num1 / self.num2}')

In [ ]:
ob = Calculator(5,2)
ob.multiply()
ob.division()

Constructor called
5 x 2 = 10
5 / 2 = 2.5

In [ ]:

x = 10
y = 10
print('the value of x is',x,'and the value of y is',y)
print(f'the value of x is {x} and the value of y is {y}')

the value of x is 10 and the value of y is 10
the value of x is 10 and the value of y is 10

In [ ]:
class Test:
  def __init__(abc,name):
    abc.name = name

  def display(abc):
    print(abc.name)

In [ ]:
ob = Test('Aryan')
ob.display()

Aryan

##**Pillars of OOP**
###**Inheritane**
Passing on the data members from the parent class (Base) to the child class (Derived)

**Types of Inheritance**
* Single Level Inheritance
* Mulit Level Inheritance
* Multiple Inheritance
* Hierarichal Inheritance
* Hybrid Inheritance

**Single Level Inheritance**

Parent class ------> Child class

In [ ]:
class Parent: # Parent class
  def display(self):
    print('Parent class')

# Child class
class Child(Parent):
  def show(self):
    print('Child class')

In [ ]:
ob = Child()
ob.show()
ob.display()

Child class
Parent class

**MultiLevel Inheritance**

Parent Class -----> Child class ------> Grand Child Class

In [ ]:
class Parent: # Parent class
  def display(self):
    print('Parent class')

# Child class
class Child(Parent):
  def show(self):
    print('Child class')

class GrandChild(Child):
  def output(self):
    print('Grand Child')

In [ ]:
ob = GrandChild()
ob.display()
ob.show()
ob.output()

Parent class
Child class
Grand Child

**Multiple Inheritance**

Parent1 + Parent2 + ....Parent n ---------> Child Class

In [ ]:
class Parent1:
  def display(self):
    print('Parent1')

class Parent2:
  def show(self):
    print('Parent2')

class Child(Parent1,Parent2):
  def output(self):
    print('Child')

In [ ]:
ob = Child()
ob.display()
ob.show()
ob.output()

Parent1
Parent2
Child

**Hierarichal Inheritance**

Parent class -----> Child1 + child2 + ....

In [ ]:
class Parent:
  def display(self):
    print('Parent')

class Child1(Parent):
  def show(self):
    print('Child 1')


class Child2(Parent):
  def output(self,b):
    print(f'Child2 and the value is {b}')

In [ ]:
p1 = Child1()
p1.display()
p1.show()

Parent
Child 1

In [ ]:
p2 = Child2()
p2.display()
p2.output(5)

Parent
Child2 and the value is 5

###**Polymorphism**
* A method having same name but different functionality (One method with multiple forms)
* Method overloding: Same method name but different parameter

**Note**: In Python, it is not possible --> Interpreter(Line by line execution)

**Area Example**

In [ ]:
class Shape:
  def area(self):
    print('Shape class area')


class Square(Shape):
  def area(self,a):
    super().area() # super() function help us to call parent class method
    print(f'Area of square with side {a} is {a*a}')

In [ ]:
ob = Square()
# ob.area()
ob.area(5)

Shape class area
Area of square with side 5 is 25

**We will create two child classes where we will take input through constructor**

In [ ]:
class Shape:
  def area(self):
    print('Shape class area')


class Square:
  def area(self,a):
    print(f'Area of square with side {a} is {a*a}')


class Rectangle(Shape,Square):
  def area(self,l,b):
    super().area() # It will call the area method of Shape
    print(f'area of rectangle: {l*b}')

In [ ]:
ob = Rectangle()
ob.area(5,4)

Shape class area
area of rectangle: 20

When we perform multiple inheritance where both parent class is having same method name ---> Then `super()` will call only the first parent class passed while creating child class

**To handle above case-- we use `Parent.method(self,para)`**

In [ ]:
class Shape:
  def area(self):
    print('Shape class area')


class Square:
  def area(self,a):
    print(f'Area of square with side {a} is {a*a}')


class Rectangle(Shape,Square):
  def area(self,l,b):
    Shape.area(self) # It will call SHape class area method
    Square.area(self,l) # it will call Square class area method
    print(f'area of rectangle: {l*b}')

In [ ]:
ob = Rectangle()
ob.area(5,4)

Shape class area
Area of square with side 5 is 25
area of rectangle: 20

In [ ]:
class Square:
  def __init__(self,a):
    self.a=a
    print("Area of Square",self.a*self.a)
class Rectangle(Square):
  def __init__(self,l,b,a):
    self.l=l
    self.b=b
    print("Area of Rectangle",self.l*self.b)
    super().__init__(a)
a=Rectangle(2,3,4)

Area of Rectangle 6
Area of Square 16

#**Abstraction**
1. abstract method
2. static method
**both called as decorator**
##**Hiding the unnecessary(function/class) from the user**
* abc --> abstract base class library name
* ABC --> it is the class that we will inherit tp perform abstraction
* abstarct method --> Decorator that he will call inside the class(abstract method)
* **from abc import ABC,abstract method**

In [ ]:
#step 1
from abc import ABC,abstractmethod
#step 2
class Sample(ABC):
  @abstractmethod
  def display():
    print("Abstracted")
#Create a child class
class Child(Sample):
  def display():
    super().display()

**Note:

In [ ]:
ob=Child()
ob.display()

TypeError: Child.display() takes 0 positional arguments but 1 was given

#**Encapsulation**
Wrapping up of the data members into one single unit(Attribute + Method)--> Capsule(Class)
* we can specify which method,attribute we shoul pass to the child class with the helf of **access specifier**
1. public() : the date that are accessible anywhere(within the class,child class,outside of the class)
2. Private() : When the data accessible within the class
3. Protected()
## **self.name -> public**
## **self._name -> protected**
## **self.__name -> private**

In [ ]:
class Person:
  def __init__(self,name,age,salary):
    self.name=name
    self._age=age
    self.__salary=salary
  def display(self):
    print(f"Your name:{self.name} and your age:{self._age}")
    print()
    print(f"Salary:{self.__salary}")

In [ ]:
ob=Person("Aryan",30,22000)
print(ob.name)
print(ob._age)
#print(ob.__salary)
ob.display()

Aryan
30
Your name:Aryan and your age:30

Salary:22000

In [ ]:
class BankAccount:
  def amount(self,amount=50000):
    self.amount=amount
    print(amount)
  def deposite(self,amount):
    self.amount += amount
    print(amount)
    print("Updated balance",self.amount)
  def withdraw(self,amount):
    self.amount=amount
    if amount<=self.amount:
      print("Withdrawl successful")
    else:
      print("insuffuencient amount")
  def checkbalance(self):

    print("Available Balance",self.amount)
  def display(self):
    print("Transaction Successfull")

In [ ]:
a=BankAccount()
a.amount()
a.deposite(10000)
a.withdraw(50000)
a.checkbalance()
a.deposite(100000)
a.display()

50000
10000
Updated balance 60000
Withdrawl successful
Available Balance 50000
100000
Updated balance 150000
Transaction Successfull

In [ ]:
class Student:
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks
  def percentage(self):
    x=(sum(self.marks)/(len(self.marks)*100))*100
    return f"Name:{self.name} and the Percentage is:{x}"
a=Student("Mahesh",[70,69,98,47,50,70])
a.percentage()

'Name:Mahesh and the Percentage is:67.33333333333333'