<a href="https://colab.research.google.com/github/maheshkumar30/Intellipaat-DataScience/blob/main/PythonBasic16thSept2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programming Language**
* It is a medium to communicate with machine (your machine)
* We have different types of programming languages (Java, C++/C, JavaScript, **Python**)
* We need to follow grammar rules (keyword alert: Syntax)
* Keywords(fixed terms) -> for, while, if, else, elif

## **What is python and why python**
* Python is an interpreter(Line by line execution of code), high level programming language
* Python is case sensitive
* It is very similar to english
* It is having the large number of libraries/package/modules
* Python is having one of the largest community

##**The places where we can use python**
* Data Science: Scipy, Sklearn, Numpy, Pandas
* Data Visualization: Matplotlib, seaborn, plotly
* Game Dev: Pygame
* Backend Dev: Django, Flask
* Machine Learning/AI : Tensorflow, keras

In [ ]:
print('hello')

hello

In [ ]:
# hello i am aryan -> This is my single line comment
# Comment -> Non executable line of code

##**Variables**
It is a container that stores different types of data (Numeric, Text)

In [ ]:
number = 10
print(number) # To print variable value, we pass name of the variable without inverted comma

# Keyword alert: type() -> Gives you the datatype of a variable
print(type(number))

10
<class 'int'>

In [ ]:
Name = 'Gaurav'
print(Name)
print(type(Name))

Gaurav
<class 'str'>

**Rules to write the name of variable**
* Variable are case sensitive
* Keywords must not be used as a variable name (with, for, in, if)
* You cannot start a variable with a number but can end it with number
* We cannot use symbols or give white spaces between multiword variables except Underscore(_)

In [ ]:
a1 = 10
A = 20
print(a1)
print(A)

10
20

In [ ]:
# for = 5 -> You will syntax error

In [ ]:
full_name = 'Aryan Raj'
print(full_name)

Aryan Raj

**Bonus**

In [ ]:
import keyword # One built in library in python

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

###**Data Types**
---
There are Three basic data:
* Numeric Data
* Text Data
* Boolean Data

###**Numeric Data Type**

In [ ]:
# Integer (int): positive and negative number including 0
num1= 10
num2 = -50

print(num1,num2)
print(type(num1),type(num2))

10 -50
<class 'int'> <class 'int'>

In [ ]:
# Float - Positive and Negative number includes zero
x = 2.5
y = -9.8

print(x,y)
print(type(x),type(y))

2.5 -9.8
<class 'float'> <class 'float'>

In [ ]:
# Complex data -> if we have an expression like (a+bj) where, a and b are real numbers and j is imaginary
eq = 2 + 3j # we have to use j only
print(eq)
print(type(eq))

(2+3j)
<class 'complex'>

###**Text data**
* String
* To write the string data we use " " or ' '

In [ ]:
name = "Gaurav"
print(type(name))
val = 'x'
print(val)

<class 'str'>
x

###**Boolean data**
True and False | 1 and 0 respectively
* **Note: T and F should be capital**

In [ ]:
x = True
y = False
print(x,y)
print(type(x))

# bonus
result = 15>20
print(result)
type(result)

True False
<class 'bool'>
False

bool

In [ ]:
# bonus
date = '17th sept'
date

'17th sept'

###**Type Casting**
To change the data from one datatype to another

In [ ]:
# syntax = nameOfTheDatatype(variable|value)
x = 25
print(type(x))
y = float(x)
print(type(y))
print(y)
z = str(x)
print(type(z))
print(z)

<class 'int'>
<class 'float'>
25.0
<class 'str'>
25

**Note: Text values cannot be converted into numeric values**

In [ ]:
x = '10' # but not 'xyz'
z = int(x)
print(z)

10

In [ ]:
# bonus
# keyword alert: help() -> to learn about something in python
# help(int)

##**Sequential Data Types**
* When we have order between the elements/values
* List, Tuple and String

###**List**
* A data type that stores multiple values/elements of any data type
* It follows the order of indexing
* List is mutable (change the element/update)
* To create a list [ ] square brackets

In [ ]:
x = ['a','b','c','d']
print(x)
print(type(x))

['a', 'b', 'c', 'd']
<class 'list'>

**Indexing** -> It tells you about position of the elemen in a list
* The indexing will start from 0
* Negative index starts from -1 (represent the last element)

In [ ]:
list1 = ['a','b','c','d',5,6,True,False]
print(list1[2]) # To print the value that is present at 2nd index
print(list1[-1]) # To print the last element of the list

c
False

###**Slicing**
* Out of the complete data, we try to extract small piece of it
* [start: stop: step]
* Start will be the index value from where you start slicing
* Stop will be +1 to the index where you want to end slicing

In [ ]:
x = ['a','b','c','d','e']
x[1:4]

['b', 'c', 'd']

In [ ]:
# To slice the values from the begining (we can keep the start value as empty)
print(x[0:3])
print(x[:3])

['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
# Whenever we want to go till the end of the element (we can keep the stop value as empty)
print(x[1:])

['b', 'c', 'd', 'e']

In [ ]:
# Full list
x[:]

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Step parameter
x = [1,2,3,4,5,6,7]
print(x[::2]) # For Odd numbers
print(x[1::2]) # For even

[1, 3, 5, 7]
[2, 4, 6]

In [ ]:
x = ['a','b','c','d','e']
print(x[1:4:1])
print(x[::2])

['b', 'c', 'd']
['a', 'c', 'e']

**Methods in List**

In [ ]:
# .append() -> It adds the elements by the end of the list
# It adds one element at a time
myList = ['Tea','Maggi','Juice','Rice','Coffee']
myList.append('Milk')
myList

['Tea', 'Maggi', 'Juice', 'Rice', 'Coffee', 'Milk']

In [ ]:
# .extend() -> it will add multiple elements by the end of list
yourList = ['Toys','Books','Cat','Dog']
myList.extend(yourList)
myList

['Tea',
 'Maggi',
 'Juice',
 'Rice',
 'Coffee',
 'Milk',
 'Toys',
 'Books',
 'Cat',
 'Dog']

In [ ]:
# .insert(index,element) - It insert the element between the list
myList.insert(2,'Cold Drinks')
myList

['Tea',
 'Maggi',
 'Cold Drinks',
 'Juice',
 'Rice',
 'Coffee',
 'Milk',
 'Toys',
 'Books',
 'Cat',
 'Dog']

In [ ]:
# .remove(element) - It deletes the value permanently
myList.remove('Milk')
myList

['Tea',
 'Maggi',
 'Cold Drinks',
 'Juice',
 'Rice',
 'Coffee',
 'Toys',
 'Books',
 'Cat',
 'Dog']

In [ ]:
# remove will not return any value
x = myList.remove('Coffee')
print(myList)
print(x)

['Tea', 'Maggi', 'Cold Drinks', 'Juice', 'Rice', 'Toys', 'Books', 'Cat', 'Dog']
None

In [ ]:
# .pop(index) -> It removes the value and also return it so that we can store it in a variable
x = myList.pop(2)
print(myList)
print(x)

['Tea', 'Maggi', 'Juice', 'Rice', 'Toys', 'Books', 'Cat', 'Dog']
Cold Drinks

###**Tuple**
* It stores multiple values of different datatypes
* It also follows the order of indexing
* **Tuples are immuatable (cannot modify)**
* We can create tuples by using round brackets
* We can have duplicated values also

In [ ]:
tup1 = (1,2,3,4,'a','b','b')
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 'a', 'b', 'b')
<class 'tuple'>

In [ ]:
print(tup1[3])

4

In [ ]:
# tup1[3] = 50 -> it is immutable

**Methods of Tuple**

In [ ]:
# .index() -> Gives you the index of an element
tup1.index('a')

4

In [ ]:
# .count() -> it will count the frequency of a particular element
tup1.count('b')

2

In [ ]:
# Keyword alert : len() -> Function
len(tup1)

7

###**String**
* text data type
* follows indexing
* immutable datatype

In [ ]:
fullName = 'Aryan Raj'
fname = fullName[:5]
lname = fullName[6:]
print(fname)
print(lname)

Aryan
Raj

In [ ]:
# Concatenation (+)
Name = fname +' '+lname
Name

'Aryan Raj'

In [ ]:
# Name[2] = 'B' -> immutable

**String Methods**

In [ ]:
x = 'Deevesh'
# .lower() -> Convert all element in lower case
x.lower()

'deevesh'

In [ ]:
# .upper() ->  convert all elemnet into upper case
x.upper()

'DEEVESH'

In [ ]:
# .capitalize() -> It will capitalize the first letter of a string
y = 'hii i am aryan'
y.capitalize()

'Hii i am aryan'

In [ ]:
# .title() -> it will capitalize all the first charecter of the string
y.title()

'Hii I Am Aryan'

In [ ]:
# split() -
data = 'Durgesh,Abhinav,Aryan,Gouri'
y = data.split(',') # -> It returns the list of seperated elements
y

['Durgesh', 'Abhinav', 'Aryan', 'Gouri']

In [ ]:
# strip() -> It will remove the white spaces from the string
z = '     Aryan    '
z.strip()

'Aryan'

###**Sets**
* Collection of unique elements
* There is no order between the elemens
* mutable
* we can create sets {}

In [ ]:
s1 = {1,2,3,4,4}
print(s1)

{1, 2, 3, 4}

In [ ]:
s2 = {0,1,2,3,'Apple','True',True,False}
print(len(s2))
print(s2)

6
{0, 1, 2, 3, 'True', 'Apple'}

In [ ]:
# s2[4] -> Not sequenced (no index)

**Methods in sets**

In [ ]:
# .add(element)
s1.add(0)
s1

{0, 1, 2, 3, 4}

In [ ]:
# .remove(element)
s1.remove(4)

In [ ]:
s1

{0, 1, 2, 3}

In [ ]:
# .union() -> All elements present in both set
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}

In [ ]:
# .intersection() -> All the common elements between both set
print(s1.intersection(s2))

{3, 4}

###**Dictionary**
* mainly used for mapping purpose
* Key value pair
* Mutable
* {key : value}
* It helps you to create DataFrame (Table)

In [ ]:
dict1 =  {
    'FirstName': 'Aryan',
    'LastName' : 'Raj',
    'Domain' : 'AIE',
    'Age' : 28
 }
print(dict1)

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'AIE', 'Age': 28}

In [ ]:
print(dict1['Age'])

28

In [ ]:
dict1['Domain'] = 'GenAI'

In [ ]:
dict1

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'GenAI', 'Age': 28}

**To add new key value pair**

In [ ]:
dict1['FavCol'] =  'Purple'
dict1

{'FirstName': 'Aryan',
 'LastName': 'Raj',
 'Domain': 'GenAI',
 'Age': 28,
 'FavCol': 'Purple'}

In [ ]:
# To remove any key value pair
dict1.pop('FavCol')

'Purple'

In [ ]:
dict1

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'GenAI', 'Age': 28}

In [ ]:
# we can also use del keyword
del dict1['Age']
dict1

{'FirstName': 'Aryan', 'LastName': 'Raj', 'Domain': 'GenAI'}

**Methods in Dict**

In [ ]:
# .keys() : Give you all the keys in dict
dict1.keys()

dict_keys(['FirstName', 'LastName', 'Domain'])

In [ ]:
# .values() : Give all the values in dic
dict1.values()

dict_values(['Aryan', 'Raj', 'GenAI'])

In [ ]:
# .items(): Give both key value together
x = dict1.items()
print(x)

dict_items([('FirstName', 'Aryan'), ('LastName', 'Raj'), ('Domain', 'GenAI')])

In [ ]:
dict1.items()

dict_items([('FirstName', 'Aryan'), ('LastName', 'Raj'), ('Domain', 'GenAI')])

In [ ]:
# Bonus ->
my_tuple = (1, 2, [3, 4, 5]) # [3, 4, 5] -> 10
print( my_tuple)

my_tuple[2][0] = 10
my_tuple[2].append(6)

print( my_tuple)

(1, 2, [3, 4, 5])
(1, 2, [10, 4, 5, 6])

In [ ]:
print(type(dict1))

<class 'dict'>

##**Operators**
The symbol that specify what task to be done (Operation to be done on operands(Values))

###**Arithimatic Operator**
Any mathematical calculation

In [ ]:
# Bonus -> Format string
x = 5
y = 10
print('X is',x,'and y is',y)
print(f'X is {x} and y is {y}')

X is 5 and y is 10
X is 5 and y is 10

In [ ]:
# Arithmatic operator
x = 5
y = 2
# Add (+)
print(f'Add: {x+y}')
# Subs (-)
print(f'Subs: {x-y}')
# mul (*)
print(f'mul: {x*y}')
# div (/): no matter what value you pass, it will give you the float as an output
print(f'div: {x/y}')
# floor Div (//) - it removes values after decimal
print(f'floorDiv: {x//y}')
# Exponential (power operator) (**)
print(f'Exponential: {x**y}')
# Modulus opp (%) -> Gives remainder
print(f'Modulus: {x%y}')

Add: 7
Subs: 3
mul: 10
div: 2.5
floorDiv: 2
Exponential: 25
Modulus: 1

###**Comparisional Operator**

In [ ]:
x =5
y = 10
z = 10
# <,>,<=,>=, ==, !=
print(x>y)
print(y==z)
print(y>=z)
print(z!=y)

False
True
True
False

**Assignement operator**

In [ ]:
# =, +=, /=, -=
x = 5 # here we assigned the value of x as 5
x /= 2 # x = x/2
x

2.5

###**Logical Operator**
![image.png]()

* AND, OR and NOT

In [ ]:
# and - If both statement are true then only we get True as an ouput
x = True
y = True
print(x and y)

True

In [ ]:
# Or -> if both statments are False then only we get false as an output
x = True
y = False
print(x or y)

True

In [ ]:
# not -> It gives you opposite value
x = True
print(not x)

False

In [ ]:
# Bonus
a = True
b = False
c = True
result = (a or b) and not c
# a or b = True
# not c = False
# True and False
print(result)

False

###**Membership Operator**
It tells about the value whether they are the member of list or not
* Keywords: in, not in
* case sensitive

In [ ]:
fruitBasket = ['Apple','Kiwi','Grapes','Mango']
print('Apple' in fruitBasket)
print('Plum' not in fruitBasket)

True
True

###**Identity Operator**
It tells about the value whether they share the same referene adress or not
* keyword: is, is not

In [ ]:
x = [1,2,3]
y =[1,2,3]
print(x is y)
z = x
print(z is x)

False
True

##**Conditional Statement**
To make decisions and execute particular section of code
* Keyword: if, elif else

In [ ]:
# if: When we have only one condition to check (we use if)
age = 15
if age >= 18:
  print('You are an adult')

In [ ]:
# else: If my other conditions are not True (else block will execute)
age = 15
if age>=18:
  print('You are an adult')
else:
  print('You are under 18')

You are under 18

In [ ]:
# elif: When we have multiple conditions
x = int(input('Enter you age: ')) # By default it always take values as string
if x >= 13 and x <= 19:
  print('you are a teenager')
elif x >=20:
  print('You are an adult')
else: # when all conditions are false
  print('You are a minor')

Enter you age: 13
you are a teenager

##**Looping**
A process to repeat a task for given range, sequence or condition

in python we have 2 types of loop
* For loop
* While loop

In [ ]:
print('Happy new year')
print('Happy new year')
print('Happy new year')
print('Happy new year')
print('Happy new year')

Happy new year
Happy new year
Happy new year
Happy new year
Happy new year

**For Loop**
* When we have a given range or squence (list, tuple, String, dictionary)
* Here we have near to no chances of having infinite loop

In [ ]:
# keyword alert: range()
# (start , stop, step)
# range(1,11,2)
for i in range(1,11): # apart from i you can use any variable
  print(f'The value of i is {i}')

The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9
The value of i is 10

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
list1 = ['Samita','Aryan','Pranav','Vibhuti','Soumen']
for i in list1:
  print(i)

Samita
Aryan
Pranav
Vibhuti
Soumen

**While Loop**
* Whenever we want to execute the block of code till a given condition is True
* We have chances of getting infinte Loop

In [ ]:
# print 1- 10 --> Using while loop
x = 10
while x>=1: # If x ==11 then it will terminate
  print(x)
  x = x - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
print(x)

0

In [ ]:
# print(0 -10)
x = 1
while x<=10:
  print(x)
  x = x + 3

1
4
7
10

##**Control Statements**
* Break, Continuem, Pass

**Break** - Stops the execution of code whenever called / Discontinue the loop

In [ ]:
for i in range(1,11):
  print(i)
  if i == 6:
    break

1
2
3
4
5
6

**Continue** - It will skip the current iteration

In [ ]:
for i in range(1,11):
  if i == 6:
    continue # skip the iteration 6
  print(i)

1
2
3
4
5
7
8
9
10

**Pass** - If you have not decided what to do at a certain iteration, then we use pass statement rather than keeping it empty

In [ ]:
for i in range(1,11):
  print(i)
  if i == 5:
    pass

1
2
3
4
5
6
7
8
9
10

In [ ]:
# keyword alert: range()
# (start , stop, step)
# range(1,11,2)
for num in range(1,11): # apart from i you can use any variable
  print(f'The value of num is {num}')

The value of num is 1
The value of num is 2
The value of num is 3
The value of num is 4
The value of num is 5
The value of num is 6
The value of num is 7
The value of num is 8
The value of num is 9
The value of num is 10

##**Functions**
* To reuse a certain block of code by just calling it
    * **pre-defined function:** print(), len(), type(), input(), int(), tuple()
    * **User-defined function:** if we create our own function

**Pre defined function**

In [ ]:
# sorted() -> It will sort the data (by default -> ascending order)
x = [5,1,4,3,2]
print(sorted(x))
# in desceding
print(sorted(x, reverse=True))

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
# sum() -> Add all the elements present in the list
print(sum(x))

15

In [ ]:
# max() and min() -> largest and smallest value
print(max(x))
print(min(x))

5
1

In [ ]:
# round()
x = 2.6579
print(round(x))
print(round(x,1)) # round(value,uptoDecimal)

3
2.7

In [ ]:
# abs() -> Convert the -ve sign convection into positive
x = -24
print(abs(x))

24

**UserDefined Function**

In [ ]:
# keyword : def
# we just defined our function
def add(x,y):
  print(f'{x} + {y} = {x+y}')
  print('hey added one line more')

In [ ]:
# we will call our function
add(5,4)
add(6,7)
result = add(5,2)
print(result)

5 + 4 = 9
hey added one line more
6 + 7 = 13
hey added one line more
5 + 2 = 7
hey added one line more
None

In [ ]:
def sub(x,y):
  return f'{x} - {y} = {x-y}'

In [ ]:
result = sub(5,2)
print(result)

5 - 2 = 3

In [ ]:
def sub(x,y):
  print(f'{x} - {y} = {x-y}')

In [ ]:
x = sub(4,2)
print(x)

4 - 2 = 2
None

**Session 3 - notes**

In [ ]:
def numList(x,y):
  z = []
  z.append(x)
  z.append(y)
  return z

In [ ]:
var = numList(3,4)
print(var)

[3, 4]

**Non Parametrized**

In [ ]:
def show():
  print('Hey i am showing the output of non parameterized functions')

In [ ]:
show()

Hey i am showing the output of non parameterized functions

**Parameterized function**

In [ ]:
def floorDiv(x,y): #x and y are my parameters
  print(x//y)

In [ ]:
floorDiv(5,2)

2

**Default parameterized function**

Note: Default parameters value should be written at the end of the parameters

In [ ]:
def div(x=1,y=2):
  print(x/y)

In [ ]:
div(5,2)

2.5

**`*args` (Non-Keyword Arguments)**
* *args let you pass multiple values into a function
* inisde the function, args will be `tuple`
* it can be useful when you don't know how many arguments we have to pass

In [ ]:
def numList(*args):
  print(f'Arguments: {args}')
  print(f'Data type of args: {type(args)}')
  print(f'Data type converted to list: {type(list(args))}')
  print(f'sum: {sum(args)}')

In [ ]:
# numList(1,2,5,7,9,10,12,14,'a','b')

**`**kwargs` (Keyword Arguments)**
* **kwargs lets you pass mulitiple named arguments (key=value)
* inside the function, kwargs will be a dictionary
* It is useful when we don't know the names of argument in advance

In [ ]:
def displayInformations(**kwargs):
  print(f'Keyword arguments: {kwargs}')
  print(f'Type of kwargs: {type(kwargs)}')

In [ ]:
displayInformations(name='Aryan',age=25,city='Bangalore')

Keyword arguments: {'name': 'Aryan', 'age': 25, 'city': 'Bangalore'}
Type of kwargs: <class 'dict'>

In [ ]:
def mixedElement(*args,**kwargs):
  print(f'args: {args}')
  print(f'kwargs: {kwargs}')

In [ ]:
mixedElement(10,20,30,40,name='Aryan',Age=25)

args: (10, 20, 30, 40)
kwargs: {'name': 'Aryan', 'Age': 25}

**Lambda function**
* A lambda is small, anonymous(nameless) function
* It can take any number of argments but operation should be in one line (not multiple lines)

In [ ]:
# lambda arguments: operation
def add(x,y):
  return x+y
print(add(5,4))

9

In [ ]:
add = lambda x,y: x+y
add(7,9)

16

In [ ]:
square = lambda n: n**2
square(3)

9

In [ ]:
power = lambda n,m: n**m
power(5,2)

25

In [ ]:
# lambda implementation:
operations =  {
    'add' : lambda x,y:x+y,
    'sub' : lambda x,y: x-y,
    'mul' : lambda x,y: x*y,
    'div' : lambda x,y : x/y if y!= 0 else 'Error'
}

In [ ]:
x = operations['add'](2,2)
y = operations['mul'](1,4)
print(operations['sub'](x,y))

0

In [ ]:
x = lambda a,b,c,d : a+b-c*d
x(2,2,1,4)

0

In [ ]:
displayOut = lambda : print('Hey')

In [ ]:
displayOut()

Hey

Date - 24th Sept

**Modules, Importing Modules and Comprehension Techniques**

**Use Conditional logic in dictionary using lambda function**
* TO check a number x is positive, negative or zero

**Check whether there is vowel in word or not**

In [ ]:
x = 10
while x>=0:
  print(x)
  if x == 5:
    print('I have the called the conditional statement')
  x-=1

10
9
8
7
6
5
I have the called the conditional statement
4
3
2
1
0

**Use Conditional logic in dictionary using lambda function**
* TO check a number x is positive, negative or zero

Option-1

In [ ]:
x=int(input("enter a number: "))
check_number={
    'positive':lambda x:x>0,
    'negative':lambda x:x<0,
    'zero':lambda x:x==0
}
for key,value in check_number.items():
  print(f'{key}:{value(x)}')

enter a number: -5
positive:False
negative:True
zero:False

Option-2

In [ ]:
check_num = lambda x: {x > 0: "Positive", x < 0: "Negative"}.get(True, "Zero")

In [ ]:
check_num(5)

'Positive'

In [ ]:
#Even or Odd
x=int(input("Enter the value"))
even_odd = lambda x: "even" if x%2 == 0 else "odd"
print(even_odd(x))

Enter the value5
odd

Check whether there is vowel letter or not

In [ ]:
vowel = lambda word: 'vowel' if any(letter in 'aeiouAEIOU' for letter in word.lower()) else 'consonant'
print(vowel('apple'))
print(vowel('EXAMPLE'))
print(vowel('try'))

vowel
vowel
consonant

In [ ]:
check_vowel = lambda w: any(v in w.lower() for v in "aeiou")

In [ ]:
check_vowel('hey')

True

Simple way to solve it

**We are checking letters**

In [ ]:
def vowelCheck(x):
  if x in'aeiou':
    print('Vowel')
  else:
    print('consonant')

In [ ]:
vowelCheck('i')

Vowel

In [ ]:
x = input('Enter any word: ').lower()
for i in x:
  if i in 'aeiou':
    print(i)

Enter any word: Apple
a
e

Enter any word: apple
Vowel

**List Comprehension**
* It is a shorter and cleaner way to create list in python
* Instead of using loops, you write the expression in one line

In [ ]:
# Basic way to find squares of number
sqaures = []
for i in range(5):
  sqaures.append(i**2)
print(sqaures)

[0, 1, 4, 9, 16]

In [ ]:
# [expression for item in List if condition]
squares = [i**2 for i in range(5)]
squares

[0, 1, 4, 9, 16]

**Let's Get Even Number**

In [ ]:
evenNums = []
for i in range(10):
  if i%2 == 0:
    evenNums.append(i)
print(evenNums)

[0, 2, 4, 6, 8]

In [ ]:
evenNumber = [i for i in range(10) if i %2 ==0]
print(evenNumber)

[0, 2, 4, 6, 8]

**Apply capitalized method for each element of the list**

In [ ]:
words = ['aryan','abdul','vijay']
CapitalizedWords = [i.capitalize() for i in words ]
print(CapitalizedWords)

['Aryan', 'Abdul', 'Vijay']

**Nested loop**

In [ ]:
for i in range(1,5): # table number
  for j in range(1,3): # multiplications
    print(f'{i} and {j}')

1 and 1
1 and 2
2 and 1
2 and 2
3 and 1
3 and 2
4 and 1
4 and 2

In [ ]:
for i in range(2,6):
  print(f'Table of {i}')
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')
  print()

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**Modules**
* A set of program including functions, classes, methods that we can use in any other python file, we use module
* Whenever we create module -> we use .py extension
* We can import module to any file where we want

In [ ]:
print('hello')

hello

In [ ]:
import myPythonCode

In [ ]:
myPythonCode.displayHello()

Hey i am coming from module

In [ ]:
myPythonCode.powerOpp(5,2)

5 to the power 2 = 25

We can import module and give any kind of alias name that is suitable for us

In [ ]:
import myPythonCode as m

In [ ]:
m.displayHello()

Hey i am coming from module

In [ ]:
m.powerOpp(2,4)

2 to the power 4 = 16

if you want to import a complete function directly to my file

In [ ]:
from myPythonCode import powerOpp

In [ ]:
powerOpp(5,6)

5 to the power 6 = 15625

In [ ]:
bool(0)

False

In [ ]:
if 0 or "Hello":
    print("Yes")
else:
    print("No")

Yes